* {
  max-width: 100%;
}

body {
  font-family: Questrial;
}

.brand {
  font-family: Righteous;
  font-size: 3rem;
  margin-left: 2rem;
}

.jumbotron {
  margin: 0rem;
}

.navbar {
  height: 6rem;
}

.nav-link {
  margin: 1.5rem;
}

.nav-item {
  margin: 0.5rem;
}

.jumbotron {
  padding-top: 5.5rem;
}

.containertron {
  padding: 3rem 10rem;
  color: white;
}

.photo {
  margin: 0rem 6rem;
  width: 35rem;
}

.h1 {
  font-family: Courgette;
}

.link {
  color: white;
  text-decoration: none;
  font-family: Courgette;
}

.braw {
  font-size: 1.2rem;
}

.about {
  color: rgb(21, 1, 31);
  background-color: white;
  font-family: Courgette;
  margin-top: 1.6rem;
}

.experience {
  font-family: Courgette;
  margin-bottom: 5rem;
}

.container2 {
  background-color: rgb(21, 1, 31);
  color: white;
  padding-bottom: 4rem;
}

.carou {
  width: 40rem;
}

.capt {
  font-size: 1.2rem;
  color: white;
  border-radius: 20rem;
  padding: 0.3rem 1.3rem;
  background-color: rgb(21, 1, 31);
  font-family: Courgette;
}

.capt2 {
  font-size: 0.8rem;
  border-radius: 20rem;
  padding: 0.3rem 1.3rem;
  color: rgb(21, 1, 31);
}

.footer {
  color: #ffffff;
  background-color: rgb(21, 1, 31);
  padding: 0.3rem 1.3rem;
  border-radius: 20rem;
}

.msg {
  color: rgb(21, 1, 31);
  font-family: Courgette;
}

#pesan {
  padding-bottom: 2rem;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  * {
    max-width: 100%;
  }

  .photo {
    width: 24rem;
    margin-top: 4rem;
  }

  .navbar {
    margin-bottom: 10rem;
  }

  .containertron {
    text-align: center;
  }

  .jumbotron {
    padding-top: 0rem;
  }

  .h1 {
    font-size: 3rem;
  }

  .its {
    font-size: 3rem;
  }

  .link {
    font-size: 3rem;
  }

  .braw {
    font-size: 1rem;
  }

  .about {
    font-size: 3rem;
    margin-top: 2.5rem;
  }

  .msg {
    font-size: 3rem;
  }
  .desc {
    font-size: 0.9rem;
  }

  .q {
    font-size: 1rem;
  }

  .experience {
    font-size: 3rem;
    margin: 1.3rem 0;
  }

  .capt {
    font-size: 1.1rem;
  }

  .capt2 {
    font-size: 0.8rem;
  }

  .footer {
    font-size: 0.8rem;
  }

  .carou {
    width: 33rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1164px) {
  * {
    max-width: 100%;
  }

  .photo {
    width: 24rem;
    margin-top: 4rem;
  }

  .navbar {
    margin-bottom: 10rem;
  }

  .containertron {
    padding-top: 10rem;
    text-align: center;
  }

  .jumbotron {
    padding-top: 0rem;
  }

  .h1 {
    font-size: 3rem;
  }

  .its {
    font-size: 3rem;
  }

  .link {
    font-size: 3rem;
  }

  .braw {
    font-size: 0.9rem;
  }

  .about {
    font-size: 3rem;
    margin-top: 2.5rem;
  }

  .msg {
    font-size: 3rem;
  }

  .desc {
    font-size: 0.9rem;
  }

  .q {
    font-size: 1rem;
  }

  .experience {
    font-size: 3rem;
    margin: 1.3rem 0;
  }

  .capt {
    font-size: 1.1rem;
  }

  .capt2 {
    font-size: 0.8rem;
  }

  .footer {
    font-size: 0.8rem;
  }

  .carou {
    width: 33rem;
  }
}

@media screen and (max-width: 767px) {
  .brand {
    margin-left: 1rem;
  }

  * {
    max-width: 100%;
  }

  .photo {
    width: 24rem;
    margin-top: 5rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .containertron {
    text-align: center;
    padding: 0rem 5rem;
  }

  .jumbotron {
    padding-top: 0rem;
  }

  .h1 {
    font-size: 2rem;
  }

  .its {
    font-size: 2rem;
  }

  .link {
    font-size: 2rem;
  }

  .braw {
    font-size: 0.7rem;
  }

  .about {
    font-size: 1.5rem;
    margin-top: 4rem;
  }

  .msg {
    font-size: 1.5rem;
  }

  .desc {
    font-size: 0.6rem;
  }

  .q {
    font-size: 0.7rem;
  }

  .experience {
    font-size: 1.5rem;
    margin: 1.3rem 0;
  }

  .capt {
    font-size: 0.6rem;
    margin-bottom: 0rem 0rem;
  }

  .capt2 {
    font-size: 0.5rem;
    padding: 0.1rem 1rem;
    margin: 0rem 0rem;
  }

  h5 {
    margin-bottom: 0rem;
  }

  .carousel-caption {
    padding: 0rem;
  }
  .lemb {
    margin-bottom: 0rem;
  }

  .footer {
    font-size: 0.9rem;
  }

  .carou {
    width: 24rem;
  }

  .indica {
    margin-bottom: 0rem;
  }

  .ind {
    line-height: 5rem;
  }
}

@media screen and (max-width: 414px) {
  .navbar {
    height: 4rem;
  }
  .photo {
    width: 20rem;
  }
  .h1 {
    font-size: 1.8rem;
  }

  .its {
    font-size: 1.8rem;
  }

  .link {
    font-size: 1.8rem;
  }

  .braw {
    font-size: 0.5rem;
  }

  .about {
    font-size: 1.3rem;
    margin-top: 3.5rem;
  }

  .msg {
    font-size: 1.3rem;
  }

  .desc {
    font-size: 0.5rem;
  }

  .q {
    font-size: 0.6rem;
  }

  .experience {
    font-size: 1.3rem;
    margin: 1.3rem 0;
  }
  .capt {
    font-size: 0.6rem;
    padding: 0.3rem 0.5rem;
    margin-bottom: 0rem 0rem;
  }
  .capt2 {
    font-size: 0.5rem;
    padding: 0.1rem 0.5rem;
    margin: 0rem 0rem;
  }
  .footer {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 338px) {
  body {
    font-size: 0.7rem;
  }

  .about {
    font-size: 1rem;
    margin-top: 3.5rem;
  }

  .msg {
    font-size: 1rem;
  }

  .capt {
    font-size: 0.4rem;
    padding: 0.3rem 0.5rem;
    margin: 0rem 0rem;
  }

  .capt2 {
    font-size: 0.3rem;
    padding: 0.1rem 0.5rem;
    margin: 0rem 0rem;
  }

  .lemb {
    margin: 0rem;
  }

  .experience {
    font-size: 1rem;
    margin: 1.3rem 0;
  }

  #subm {
    font-size: 0.7rem;
  }

  .footer {
    font-size: 0.7rem;
  }
}
